* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Oswald', 'sans-senrif';
    background-image: url(Imagens/banner/banner.jpg);
    background-size:contain;
    
}

li {
    list-style:none;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover{
    color: orange;
    transition: background-color 1s;
}


.logo > img {
    width: 150px;
    margin: 10px auto;
}
@media (max-width: 650px) {
    nav {
        margin: 10px auto;
    }
}
nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 10px;
}

nav li {
    padding-bottom: 5px;
    padding: 0 30px;
 }


nav > ul {
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
 }

.header {
    position: fixed;
    background-color: yellow;
    padding: 10px;
    height:auto;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}



@media (max-width: 650px) {
    header {
        flex-wrap: wrap;
    }
}

@media (max-width:756px ) {
    #page-wrapper > img {
        width: 1000px;
        opacity: 0.1;
    }
}


#page-wrapper {
    position: relative;
}

.container .title {
    text-align: center;
    position:static;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px dashed black;
}   

@media (max-width: 996px) {
    .container {
        display: flex;
        flex-direction: column;
        width: auto;

    
        
    }
}

.container {
    margin: 150px 10px 100px 10px;
    background-color: rgba(255, 255, 129, 0.473);
    border: 1px solid #ddd;
    border-radius: 10px;
}

@media (max-width: 650px) {
    #burgers {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}

#burgers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 5px dashed green;
}

.burger-info {
    padding: 10px;
    height: 90px;
    overflow: hidden;
}

.burger-info:hover {
    overflow: auto;
}


.product {
    width: 20%;
    margin: 40px;
    background:scroll;
    background-color: rgb(179, 179, 179);
    border: 1px solid red;
    border-radius: 10px;
    box-shadow: 0 3px 10px 0;
    padding: 2px;
}

.product:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

#molhos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#porcoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#milkSkakes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.burgerImg {
    width: 100%;
}

.molhosImg {
    width: 100%;
    height: auto;
}

.porcoesImg {
    width: 100%;
    height: auto;
}

.OvomaltineImg {
    width: 100%;
}

#main-footer {
    position: relative;
    background-color: green;
    border-radius: 5px;
}

#main-footer .title {
    text-align:center;
    color: aliceblue;
    border-radius: 5px ;
    font-size: 30px;
    background-color: gray;
}

#payments-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

#payments-footer > img {
    width: 100%;
}

.payments {
    padding: 5px;
    margin: 5px;
}

.paymentsImg {
    width: 150px;
    margin: 0 20px;
}

#elo {
    width: 200px;
}

#pix {
    width: 250px;
    }
